* {
  margin: 0;
  padding: 0;
}
h2 {
  color: #fff;
  font-family: sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 125% */
}
strong {
  color: #e20c9f;
}
body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  width: 971px;
  height: 943px;
  background: #2e0549;
}
div {
  display: flex;
}
form {
  display: flex;
  flex-direction: column;
}
.formulaire {
  max-width: 388px;
  padding: 25px;
  align-items: flex-start;
  gap: 36px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.radios {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  align-self: stretch;
  flex-wrap: wrap;
}
input[type="radio"] {
  display: none;
}
.radios label {
  display: inline-flex;
  min-width: 110px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #e20c9f;
  color: #e20c9f;
  text-align: center;
  font-size: 16px;
  transition: 200ms;
}
label:has(input:checked) {
  background: #e20c9f;
  color: #fff;
}

.radios label:hover {
  padding: 20px;
}
label {
  color: #666;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px; /* 150% */
}
input[type="textarea"] {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: (#fff);
}
input[type="name"] {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;

  border-radius: 8px;
  border: 1px solid #ccc;
  background: var(--W-Background, #fff);
}
input[type="email"] {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;

  border-radius: 8px;
  border: 1px solid #ccc;
  background: var(--W-Background, #fff);
}
button {
  display: flex;
  max-width: 110px;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #e20c9f;
}
